.topbar {
    background-color: #1ca0a0;
    display: flex;
    color: #F9F7F3;
    margin: 0 6vw 0 6vw;
    justify-content: left;
    gap: 10vw;
    align-items: center;
    padding: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color: #F9F7F3;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F7F3;
}

.search {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.navegacao ul {
    background-color: #6B6B6C;
    padding: 0;
    margin: 0 6vw 0 6vw;
    list-style: none;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #F9F7F3;
    text-decoration: none;
}

.container {
    display: flex;
    margin: 20px;
}

h2 {
    color: #097F8A;
    text-decoration: underline;

}

main {
    flex: 3;
    background-color: #cce6ff;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: #f4a460;
    padding: 20px;
    margin-left: 2.5vw;
    margin-top: 20vw;
    margin-bottom: 20vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

aside img {
    justify-content: center;
}

.destaque-do-dia {
    margin-bottom: 20px;
}


.container-destaque,
.noticia {
    background-color: #F9F7F3;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.noticias-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.noticia {
    flex: 1;
}

footer {
    background-color: #1ca0a0;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10vw;
    padding-left: 2vw;
    padding-bottom: -10px;
    color: #f4f4f4;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}